<launch>
    <node pkg="first_project" name="gps_to_odom" type="gps_to_odom" output="screen">
     <param name="lat_r" value="" />  <!--bisogna settare questi value con i dati che arrivano dalla bag e va fatto con il configuration file in python-->
     <param name="lon_r" value="" />
     <param name="alt_r" value="" />
    </node>

</launch>